<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Amcrest</title>
 
</head>

<body style="margin:0; padding:0">
<div style="margin:0 auto; max-width:900px; border:1px solid #1C234F">
<table width="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="15">&nbsp;</td>
        <td>&nbsp;</td>
        <td width="15">&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td style="text-align:center"><img src="https://amcrest-static.s3.amazonaws.com/email_logo.png" alt="" width="300" height="58" /></td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td colspan="3" style="height:1px; background:#1C234F"></td>
        </tr>
      <tr>
        <td style="background:#ffffff">&nbsp;</td>
        <td style="background:#ffffff"><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td style="font-size:16px; text-decoration:none; color:#818181; font-family:Arial, Helvetica, sans-serif; font-weight:bold" >&nbsp;</td>
            </tr>
          <tr>
            <td style="font-size:18px; text-decoration:none; color:#1C234F; font-family:Arial, Helvetica, sans-serif; font-weight:normal; text-align:center"> Dear customer,</a></td>
            </tr>
          <tr>
            <td>&nbsp;</td>
            </tr>
          <tr>
            <td style="font-family:Arial, Helvetica, sans-serif; font-size:14px; text-align:center">This is an automated message to inform you that your GPS tracking device {{imei}} subscription has been active but not logged in since last 15 days.</td>
            </tr>
             <tr>
            <td>&nbsp;</td>
            </tr>
          <tr>
          <tr>
            <td style="font-family:Arial, Helvetica, sans-serif; font-size:14px; text-align:center">Please let us know for any query</td>
            </tr>
          <tr>
            <td>&nbsp;</td>
            </tr>
          <tr>
            <td style="font-family:Arial, Helvetica, sans-serif; font-size:14px; text-align:center">Thank you for choosing Amcrest.</td>
            </tr>
          <tr>
            <td>&nbsp;</td>
            </tr>
          <tr>
            <td style="text-align:left;">If you feel that you have received this message in error, please notify us immediately by emailing us at amcrestgpssupport@amcrest.com.<br>
     </span><br><br>
    Thanks <br>
Amcrest Customer Support</td>
      </tr>
     
      </table></td>
  </tr>
</table>
</div>
</body>
</html>';