<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Followup Mailer</title>
 
</head>

<body style="margin:0; padding:0">
<div style="margin:0 auto; max-width:900px; border:1px solid #1C234F">
<table width="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="15">&nbsp;</td>
        <td>&nbsp;</td>
        <td width="15">&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td style="text-align:center"><img src="<?php echo base_url();?>images/emailer/logo.png" alt="" width="300" height="58" /></td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td colspan="3" style="height:1px; background:#1C234F"></td>
        </tr>
      <tr>
        <td style="background:#ffffff">&nbsp;</td>
        <td style="background:#ffffff"><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td style="font-size:16px; text-decoration:none; color:#818181; font-family:Arial, Helvetica, sans-serif; font-weight:bold" >&nbsp;</td>
            </tr>
          <tr>
            <td style="font-size:18px; text-decoration:none; color:#1C234F; font-family:Arial, Helvetica, sans-serif; font-weight:normal; text-align:left" >Thank you for purchasing the AM-GL300 Tracker. If you didnt get the activation mailer yet with login credentials,please check your spam box.<br/> Please follow these guidelines to get the best from your GPS Tracker</a></td>
            </tr>
          
          <tr>
            <td>&nbsp;</td>
            </tr>
          <tr>
            <td style="font-family:Arial, Helvetica, sans-serif; font-size:14px; text-align:left;line-height:20px;">
<strong>1.</strong> For first time use after activation, please position the GPS tracker such that it has a clear line of sight to the sky. This will ensure it obtains a GPS location fix (this can take between 1 minute to 3 hours). Please note, there may be some old buffered test data stored on the GPS tracker during manufacturing and quality control testing, please ignore this old, buffered data). Once the device shows the correct location on the map, please proceed to step 2.</td>
            </tr>
          <tr>
            <td>&nbsp;</td>
            </tr>
          <tr>
            <td style="font-family:Arial, Helvetica, sans-serif; font-size:14px; text-align:left;line-height:20px;">
<strong>2.</strong> GPS location accuracy and positioning the GPS tracker.<br/><br/>
If your GPS tracker has a clear line of sight to the sky, it should be very accurate.<br/>
If your GPS tracker does not have a clear line of sight to the sky, or if it is blocked by metal, or indoors, it will have a less accurate GPS fix.</td>
            </tr>
          <tr>
            <td>&nbsp;</td>
            </tr>
         <tr>
            <td style="font-family:Arial, Helvetica, sans-serif; font-size:14px; text-align:left;line-height:20px;">
If you feel the accuracy of the GPS tracker is poor, please reposition the GPS tracker in a location that does not have/has less metal or concrete between it and the sky. For best results, position the GPS tracker so the Amcrest logo points to the sky.
  <tr>
            <td>&nbsp;</td>
            </tr>
          <tr>
            <td style="font-family:Arial, Helvetica, sans-serif; font-size:14px; text-align:left;line-height:20px;">
<strong>Please be aware of the following:</strong>
<br/><br/>
<strong>Tracker Report Rate:</strong>
The GPS tracker has an accelerometer/vibration sensor.<br/>
When the tracker has detected MOTION ON, it will report its location once a minute.<br/>
If the vibration sensor detects no movement, it will enter MOTION OFF/SLEEP state, and report every 3 hours to conserve battery life
</tr>
          <tr>
            <td>&nbsp;</td>
            </tr>
			 <tr>
            <td style="font-family:Arial, Helvetica, sans-serif; font-size:14px; text-align:left;line-height:20px;">
<strong>Battery:</strong>
The GPS tracker automatically sends a LOW BATTERY notification when the battery is between 5-20%.<br/>
If you wish to be notified about a LOW BATTERY event, please go to the settings tab, and set up a BATTERY LOW triggered event alert.
</tr>
          <tr>
            <td>&nbsp;</td>
            </tr>

			<tr>
            <td style="font-family:Arial, Helvetica, sans-serif; font-size:14px; text-align:left;line-height:20px;">
<strong>Turning on/off Tracker:</strong>
Hold the power button for 2 seconds, then let go.<br/>
Please note that when turning off the device, it can take 30 seconds for the device to completely power down and the LED lights to stop flashing.
</tr>
          <tr>
            <td>&nbsp;</td>
            </tr>

</td>
            </tr>
          <tr>
            <td>&nbsp;</td>
            </tr>
       
          </table></td>
        <td style="background:#ffffff">&nbsp;</td>
      </tr>
      <tr>
        <td style="background:#1C234F">&nbsp;</td>
        <td style="background:#1C234F; color:#ffffff; font-size:14px; font-family:Arial, Helvetica, sans-serif; text-align:center"><table width="100%" border="0" cellspacing="0" cellpadding="10">
  <tr>
    <td>Having trouble with your device? Contact us at gps@amcrest.com</td>
  </tr>
</table>
</td>
        <td style="background:#1C234F">&nbsp;</td>
      </tr>
      </table></td>
  </tr>
</table>
</div>
</body>
</html>